.header {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  border-bottom: 3px solid #c10d0c;
}
.header .title {
  padding: 0 20px;
  font-size: 20px;
  line-height: 29px;
}
.header .hotItem_box {
  margin: 0;
  padding: 0;
}
.header .hotItem_box .hotItem {
  color: #666;
  padding: 5px 0;
}
.header .hotItem_box .hotItem > a {
  display: block;
  padding: 0 20px;
  border-right: 1px solid #e8e8e8;
  font-size: 14px;
  text-decoration: none;
  color: #666;
}
.header .hotItem_box .hotItem:last-child > a {
  border-right: none;
}
